main {
  text-align: center;
  margin-bottom: 64px;
}

main .names {
  display: flex;
  gap: 42px;
  text-align: center;
  justify-content: center;
}

.alunos-foto {
  width: 60%;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.logos {
  margin-bottom: 8px;
}

@media (max-width: 1015px) {
  main .names {
      flex-direction: column;
  }

  .alunos-foto {
    width: 90%;
  }
}
