main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.quote {
  width: 75%;
  font-size: medium;
  line-height: normal;
}

.item-title {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.item-title h1 {
  color: #08BAB2;
}

.item-icon {
  width: 80px;
  margin-left: 16px;
  transform: rotate(85deg);
}

.description {
  width: 50%;
  text-align: left;
  display: flex;
}

.description img {
  margin-right: 8px;
  height: auto;
  object-fit: cover;
}

.tutor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: large;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 64px;
}

.tutor-title {
  color: #5E17EB;
}

p {
  font-size: medium;
  width: 80%;
}

@media (max-width: 1200px) {
  .description {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description img {
    width: 30%;
  }
  
  .description p {
    text-align: center;
  }

  .quote {
    width: 90%;
  }
}

@media (max-width: 800px) {
  span {
    font-size: small;
  }

  p {
    font-size: medium;
  }

  .description img {
    width: 50%;
  }
  
}

@media (max-width: 500px) {
  h1 {
    font-size: x-large;
  }

  .item-icon {
    width: 40px;
  }

}