main {
  text-align: center;
}

.foto-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.foto-title h1 {
  color: #171FEB;
}

.foto-icon {
  width: 80px;
  margin-right: 8px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 64px;
  margin-top: 32px;
}

.photos img {
  width: 400px;
  height: 280px;
  margin: 8px;
  object-fit: cover;
}