.banner {
  width: 100%;
}

.banner img {
  max-width: 100vw;
}

.section1 {
  margin-bottom: 128px;
}

#about, #donation, #adoption, #tutor, #contato {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h1 {
  color: #5271FF;
}

.about-title {
  display: flex;
  justify-content: center;
}

.about-title .about-icon {
  margin-right: 12px;
  width: 50px;
  height: 50px;
}

.image-dog-1 {
  align-items: center;
  width: 15%;
  height: 15%;
  margin-top: 64px;
}

.donation-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation-title h1 {
  position: absolute;
}

.donation-title img {
  width: 200px;
  height: 200px;
}

.payments {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
}

.method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.method .chavepix {
  font-size: small;
  font-weight: bold;
}

#bazar {
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bazar-items {
  display: flex;
  padding-left: 15%;
  justify-content: center;
  align-items: center;
}

.item {
  width: 80%;
  min-height: 305px;
  min-width: 205px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
}

.adoption-title {
  display: flex;
  justify-content: center;
}

.adoption-icon, .tutor-icon {
  margin-right: 12px;
  width: 60px;
  height: 60px;
}

#adoption .description {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#adoption .dog-icon {
  width: 300px;
  height: 300px;
}

#adoption p {
  font-size: large;
  line-height: 1.3em;
}

#adoption .notation {
  font-size: small;
}

.whatsapp-button:hover {
  background-color: #1DAE5F;
  text-decoration: none;
}

.tutor-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutor-title h1 {
  color: #5E17EB;
}

.dogs {
  display: flex;
}

.dogs img {
  width: 260px;
  margin: 8px;
}

.contato-title {
  color: #5271FF;
}

.socials {
  display: flex;
}

.social {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social img {
  width: 100px;
  margin-bottom: 4px;
}
