main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.item-title {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.item-title h1 {
  color: #08BAB2;
}

.item-icon {
  width: 80px;
  margin-left: 16px;
  transform: rotate(85deg);
}

.alert {
  font-size: small;
  color: #FF3131;
}

.description {
  width: 50%;
  text-align: left;
}

.photo {
  width: 50%;
}

.background {
  background-color: #08BAB2;
  border-radius: 8px;
}

.photo img {
  width: 30%;
  padding: 16px;
}

.item-price {
  font-weight: bold;
  color: #25D366;
  font-size: larger;
  text-align: left;
}

.donation-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation-title h1 {
  position: absolute;
}

.donation-title img {
  margin-right: 19%;
  width: 200px;
  height: 200px;
}

#thankyou {
  margin-bottom: 64px;
}

.dogs {
  display: flex;
  justify-content: center;
}

.dogs img {
  width: 20%;
  margin: 8px;
}